
 * {
    box-sizing: border-box;
    text-align: center;
  }
 
 .clearfix::after {
    content: " ";
    display: block;
    clear: both;
    overflow:auto;
 }
  
 .grid {
  display: grid;
  width: 960px;
  grid-template-columns: 495px 1fr;
  grid-column-gap: 20px;
}

.box1 {
  background-color: #ebebeb;
  margin-right:20px;
  
}

.box2 {
  background-color: #ebebeb;
  
  
}
  

  body{
      background: #777;
      color: #777;
      font-family: Arial, Helvetica, sans-serif;
      width: 960px;
      font-size: 18px;
  }
     
  
  header {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background: #ebebeb;
        
  }
  
  section {
    width: 495px;
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    overflow: auto;
    float:left;
    
  }

  article{
    color: #ebebeb;
    padding: 20px;
    margin: 50px 20px 15px;
    background: #777;
    overflow: auto;
  }
 
  aside{
    background: #ebebeb;
    /* max-width: 50%; */
    /* padding: 30px; */
    margin-bottom: 20px;
    /*width: 450px;
    float: right;*/
}
  
  h1{ 
  color: #777;
  background:#ebebeb;
  height: 50px;
  padding:10px;
  margin-left:20px;
  margin-right:20px;
  }
  
    
  p{
    color: #777;
    background:#ebebeb;
    margin: 20px;
    overflow:auto;
  
}
  nav {
    width: 100%;
    height:100px;
    background: #ebebeb;
    padding: 10px;
    margin-bottom: 20px;
    float:left;
  
}
  
  
  
  footer {
    /* Margin-top:20px; */
    padding: 20px;
    background: #ebebeb;
    clear: left;
  }
  